<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MySQLDriverMac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MySQLDriveriOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MySQLSampleOSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MySQLSampleiOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B28C3D81C2D73E8008CA202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B28C3E21C2D73E8008CA202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B28C3F41C2D7423008CA202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B28C4001C2D74D4008CA202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B28C4091C2D74D4008CA202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B28C4701C2D91B5008CA202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
